<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sf.sofarmusic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--通讯录-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!--收短信的权限-->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!--读取短信信息的权限-->
    <uses-permission android:name="android.permission.READ_SMS" />

    <!--指纹识别-->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />


    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>

        <activity
            android:name=".skin.SkinActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">


        </activity>

        <activity
            android:name=".skin.ColorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".online.SongListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".play.PlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".local.LocalActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".local.ShowDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>

        <!--demo-->
        <!--picker选择器-->
        <activity
            android:name=".demo.picker.PickerShowActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>

        <!--自定义View-->
        <activity
            android:name=".demo.view.show.ViewShowActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".demo.view.show.CircleMenuActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".demo.view.show.LuckyPanActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".demo.view.show.LockPatternActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".demo.view.calendar.CalendarActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>


        <activity
            android:name=".demo.view.linechart.IncomeExpendActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".demo.view.numtextview.NumberTextActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".demo.view.highlight.HighLightActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".demo.view.chainheadview.ChainHeadViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>


        <!--列表效果-->
        <activity
            android:name=".demo.list.ListIndexActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".demo.list.sort.BankListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".demo.list.slide.MessageListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".demo.list.drag.MenuEditActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".demo.list.page.PageGridActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".demo.list.expand.ExpandListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".demo.list.refresh.LoadMoreActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>


        <!--弹窗效果-->
        <activity
            android:name=".demo.window.WindowShowActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>

        <!--ViewPager效果集-->
        <activity
            android:name=".demo.viewpager.VPShowActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".demo.viewpager.banner.BannerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".demo.viewpager.gallery.GalleryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>

        <!--属性动画效果集-->
        <activity
            android:name=".demo.animator.AnimatorShowActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>

        <!--MD风格-->

        <activity
            android:name=".demo.md.MDShowActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".demo.md.MD1Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".demo.md.MD2Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>


        <!--二维码-->
        <activity
            android:name="com.sf.libzxing.activity.CaptureActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".demo.zxing.CodeShowActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>


        <!--系统相关-->
        <activity
            android:name=".demo.system.SystemShowActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>


        <!--音视频学习-->

        <activity
            android:name=".demo.media.MediaShowActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".demo.media.audio.AudioPCMActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".demo.media.audio.AudioWavActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".demo.media.video.VideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".demo.media.video.CameraSurfaceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".demo.media.video.CameraTextureActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".demo.media.recorder.MediaRecorderActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".demo.media.recorder.CameraRecorderActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".demo.media.track.MediaTrackActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".demo.media.video.MediaCodecActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>


        <!--拦截短信内容-->
        <receiver android:name=".demo.system.smscode.SmsReceiver">
            <intent-filter android:priority="1000"> <!--优先级：-1000~1000，系统短信优先级为-1-->
                <!--订阅广播事件类型-->
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <!--demo-->

        <!--7.0适配-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />

        </provider>
        <!--7.0适配-->

        <!--播放服务-->
        <service
            android:name="com.sf.sofarmusic.play.PlayService"
            android:process=":remote"
            android:exported="true">
        </service>
        <!--播放服务-->

    </application>

</manifest>