<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sf.sofarmusic.util">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!--指纹识别-->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

</manifest>
